* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --light: #42b3e5;
  --medium: #0384ce;
  --strong: #3156a3;
  --font-color: #888888;
}

/* provisorio apenas para dar respiro a pag*/
body {
  margin-bottom: 300px;
}

.container {
  width: 990px;
  display: flex;
}

/* Área destinada ao Header */

header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo {
  flex: 1;
}

header .menu {
  flex: 2;
}

header .menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
}

header .menu a {
  padding: 16px;
  text-decoration: none;
  color: var(--font-color);
}

header .menu a:hover,
header .menu .active {
  background-color: var(--light);
  color: white;
}

/* Área destinada a primeira Section */

#intro {
  height: 670px;
  display: flex;
  justify-content: center;
  background-image: url('../images/img1.jpg');
  background-size: cover;
  object-position: center;
}

#intro .container {
  flex-direction: column;
  justify-content: space-between;
}

.home {
  margin-top: 120px;
  width: 360px;
  color: white;
  text-shadow: 0 1px 1px black;
}

.home_title {
  margin-bottom: 30px;
  font-size: 50px;
}

.home_description {
  font-size: 18px;
  letter-spacing: 2px;
}

.bar_change {
  display: flex;
  align-items: flex-end;
  color: white;
  font-size: 12px;
  line-height: 22px;
}

.bar_change_bold,
.bar_change_light {
  flex: 1;
  height: 1px;
  background-color: white;
}

.bar_change_bold {
  height: 5px;
}

/* Área destinada aos banners da primeira Section */

.banners {
  height: 210px;
  display: flex;
  text-align: justify;
}

.banners a {
  color: white;
  text-decoration: none;
}

.banners_box1,
.banners_box2,
.banners_box3 {
  flex: 1;
  padding: 30px;
  color: white;
}

.banners_box1 {
  background-color: var(--light);
}

.banners_box2 {
  background-color: var(--medium);
}

.banners_box3 {
  background-color: var(--strong);
}


.banners_title, .banners_desc {
  margin-bottom: 30px;
}

.banners_box3 .banners_title {
  margin-bottom: 20px;
}

.banners_title {
  font-size: 20px;
  font-weight: bold;
}

.banners_desc, .schedules {
  font-size: 12px;
}

.banners_button {
  display: inline-block;
  padding: 10px;
  border: 1px solid white;
  font-size: 14px;
}

.banners_button:hover {
  background-color: white;
  color: black;
}

.schedules_container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.295);
}

/* Área destinada a segunda Section */

#main {
  display: flex;
  justify-content: center;
  height: 1040px;
}

.news{
  flex: 2;
}

.news_title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.news_bar {
  width: 50px;
  height: 2px;
  background-color: var(--light);
}


.departments{
  flex: 1;
  background-color: rgb(255, 0, 0);
}


/* Área destinada as duas colunas da segunda Section */

#main main {
  display: flex;
}

.column1, .column2 {
  flex: 1;
  margin-right: 30px;
  text-align: justify;
  color: var(--font-color);
}

.news_content_buttons {
  display: flex;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.news_content_buttons a {
  text-decoration: none;
}

.buttons_date, .buttons_comments {
  color: white;
  padding: 10px;
}

.buttons_date {
  margin-right: 2px;
  background-color: var(--strong);
}

.buttons_comments {
  background-color: var(--light);
}

.news_img {
  width: 100%;
}

.news_content {
  border-bottom: 1px solid #8888883b;
}

.news_content_title {
  margin: 30px 0;
  font-size: 20px;
}

.news_content_title a {
  color: black;
  text-decoration: none;
}

.news_content_title a:hover {
  text-decoration: underline;
}

.news_content_text {
  font-size: 14px;
}

.news_content_info {
  margin-top: 45px;
  margin-bottom: 30px;
  font-size: 11px;
}

.news_content_info a {
  color: var(--font-color);
}

.news_content_info a:hover {
  color: var(--strong);
}