* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --light: #42b3e5;
  --medium: #0384ce;
  --strong: #3156a3;
  --font-color: #888888;
}

.container {
  width: 990px;
  display: flex;
}

/* Área destinada ao Header */

header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo {
  flex: 1;
}

header .menu {
  flex: 2;
}

header .menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
}

header .menu a {
  padding: 16px;
  text-decoration: none;
  color: var(--font-color);
}

header .menu a:hover,
header .menu .active {
  background-color: var(--light);
  color: white;
}

/* Área destinada a primeira Section */

#intro {
  height: 670px;
  display: flex;
  justify-content: center;
  background-image: url('../images/img1.jpg');
  background-size: cover;
  object-position: center;
}

#intro .container {
  flex-direction: column;
  justify-content: space-between;
}

.home {
  margin-top: 120px;
  width: 360px;
  color: white;
  text-shadow: 0 1px 1px black;
}

.home_title {
  margin-bottom: 30px;
  font-size: 50px;
}

.home_description {
  font-size: 18px;
  letter-spacing: 2px;
}

.bar_change {
  display: flex;
  align-items: flex-end;
  color: white;
  font-size: 12px;
  line-height: 22px;
}

.bar_change_bold,
.bar_change_light {
  flex: 1;
  height: 1px;
  background-color: white;
}

.bar_change_bold {
  height: 5px;
}

/* Área destinada aos banners da primeira Section */

.banners {
  height: 210px;
  display: flex;
  text-align: justify;
}

.banners a {
  color: white;
  text-decoration: none;
}

.banners_box1,
.banners_box2,
.banners_box3 {
  flex: 1;
  padding: 30px;
  color: white;
}

.banners_box1 {
  background-color: var(--light);
}

.banners_box2 {
  background-color: var(--medium);
}

.banners_box3 {
  background-color: var(--strong);
}

.banners_title,
.banners_desc {
  margin-bottom: 30px;
}

.banners_box3 .banners_title {
  margin-bottom: 20px;
}

.banners_title {
  font-size: 20px;
  font-weight: bold;
}

.banners_desc,
.schedules {
  font-size: 12px;
}

.banners_button {
  display: inline-block;
  padding: 10px;
  border: 1px solid white;
  font-size: 14px;
}

.banners_button:hover {
  background-color: white;
  color: black;
}

.schedules_container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.295);
}

/* Área destinada a segunda Section */

#main {
  display: flex;
  justify-content: center;
}

.news {
  flex: 2;
}

.news_title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.news_bar {
  width: 50px;
  height: 2px;
  background-color: var(--light);
}

/* Área destinada as duas colunas da segunda Section */

#main main {
  display: flex;
}

.column1,
.column2 {
  flex: 1;
  margin-right: 30px;
  text-align: justify;
  color: var(--font-color);
}

.news_content_buttons {
  display: flex;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.news_content_buttons a {
  text-decoration: none;
}

.buttons_date,
.buttons_comments {
  color: white;
  padding: 10px;
}

.buttons_date {
  margin-right: 2px;
  background-color: var(--strong);
}

.buttons_comments {
  background-color: var(--light);
}

.news_img {
  width: 100%;
}

.news_content {
  border-bottom: 1px solid #8888883b;
}

.news_content_title {
  margin: 30px 0;
  font-size: 20px;
}

.news_content_title a {
  color: black;
  text-decoration: none;
}

.news_content_title a:hover {
  text-decoration: underline;
}

.news_content_text {
  font-size: 14px;
}

.news_content_info {
  margin-top: 45px;
  margin-bottom: 30px;
  font-size: 11px;
}

.news_content_info a {
  color: var(--font-color);
}

.news_content_info a:hover {
  color: var(--strong);
}

.show_all a {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  font-size: 14px;
  color: var(--strong);
  text-decoration: none;
}

.show_all a:hover {
  text-decoration: underline;
}

/* Área destinada ao Aside da segunda Section*/

.departments {
  flex: 1;
}

.departments a {
  text-decoration: none;
}

.departments_title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.departments_bar {
  width: 50px;
  height: 2px;
  background-color: var(--light);
}

.departments_content_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  padding: 8px;
  background-color: var(--strong);
  color: white;
  cursor: pointer;
}

.departments_content_buttons {
  text-decoration: none;
}

.buttons_bar {
  width: 13px;
  height: 1px;
  background-color: white;
}

.departments_demo {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-align: justify;
  color: var(--font-color);
}

.departments_demo_text {
  margin-left: 20px;
}

.departments_content_buttons2 {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0;
  font-size: 12px;
}

.departments_content_buttons2 div {
  padding: 8px;
  background-color: var(--strong);
  color: white;
  margin-left: 2px;
}

.departments_content_buttons2 div:hover {
  background-color: var(--light);
}

.departments_content_buttons3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
  border-bottom: 1px solid #8888883b;
  color: var(--font-color);
  cursor: pointer;
}

.departments_content_buttons3 .buttons_bar {
  background-color: var(--strong);
  height: 1px;
}

.departments_content_buttons3:hover {
  color: var(--strong);
}

/* Área destinada ao menu de contatos dentro do Aside */

.aside_contact {
  margin-top: 50px;
  border-bottom: 1px solid #8888883b;
}

.aside_contact_text {
  margin: 30px 0;
  font-size: 14px;
  color: var(--font-color);
}

.aside_contact address {
  font-size: 14px;
  color: var(--font-color);
  font-style: normal;
}

.aside_contact_contact {
  padding: 8px;
  border-top: 1px solid #8888883b;
}

.aside_contact_contact span {
  display: inline-block;
  width: 19.7px;
  height: 19.7px;
  padding: 10px;
  text-align: center;
}

.aside_contact address strong {
  color: black;
}

.aside_contact address a {
  color: var(--strong);
}

.aside_contact address a:hover {
  text-decoration: underline;
}

/* Área destinada ao Footer */

footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  background-color: #202020;
}

footer .container {
  flex-direction: column;
}

footer .banners {
  flex: 1;
  height: auto;
}

footer .banners_box1,
footer .banners_box2,
footer .banners_box3 {
  padding: 20px;
  padding-bottom: 0;
}

footer .banners_desc {
  margin-top: -1px;
}

footer .banners_desc a:hover {
  text-decoration: underline;
}

/*  Área destinada aos conteúdos do  Footer */

.content_footer {
  display: flex;
}

.content_footer_widget {
  flex: 1;
  color: white;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 30px;
}

.flex a {
  text-decoration: none;
}

.flex a span {
  padding: 5px;
  border: 1px solid #8888883b;
  color: white;
}

.flex span:hover {
  border: 1px solid var(--light);
}

.widget_content {
  margin: 30px 0;
  line-height: 20px;
  font-size: 13px;
  color: var(--font-color);
}

.widget_content_info {
  margin: 30px 0;
  display: flex;
}

.content_info_block,
.content_info_block2 {
  flex: 1;
}

.content_info_block2 a {
  color: white;
  text-decoration: none;
}

.content_info_block2 a:hover {
  text-decoration: underline;
}

.widget_links span {
  padding: 5px;
  border: 1px solid #8888883b;
  color: white;
}

.widget_links span:hover {
  border: 1px solid var(--light);
}

.widget_content ul {
  margin-left: 25px;
  list-style-type: '\02192   ';
}

.widget_content ul a {
  color: white;
  text-align: justify;
  text-decoration: none;
}

.widget_content ul a:hover {
  text-decoration: underline;
}

.widget_content li {
  margin-right: 30px;
  margin-bottom: 30px;
}

.widget_content li span {
  display: block;
  font-size: 11px;
  text-decoration: none;
  color: var(--light);
}

.widget_last li {
  margin-right: 0;
}

.content_footer {
  border-bottom: 1px solid #8888883b;
}

.footer_footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  color: var(--font-color);
  font-size: 11px;
}

.footer_footer a {
  color: white;
  text-decoration: none;
}

.footer_footer a:hover {
  text-decoration: underline;
}
